body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.flexable-container {
    height: 500px;
    padding-bottom: 150px;
    display: flex;
}

.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat
}

.half-width {
    width: 50%;
    float: left;

    padding-left: 3%;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

h1 span {
    color: orange;
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

.half-width img {
    width: 100%;
}

.link-button {
    background-image: linear-gradient(red, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    word-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
}



p {
    color: dimgray;
}

.dream-big {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.rightt {
    padding-left: 20px;
}

.bw-dev {
    color: orange;
    font-family: sans-serif;
    font-size: 30px;
}

.experience-width {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 13%;
    padding-left: 20px;
    font-size: 20px;
    box-shadow: 10px 10px 40px gray;
}