body {
    padding: 0;
    margin: 0;
    display: flex;
}

h1 {
    font-family: 'Lobster', cursive;
}

.name-riyad {
    color: orange;
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    float: left;
    padding: 5px 20px;
    text-align: justify;
}

.half-width img {
    width: 100%;
}

.link-button {
    background-image: linear-gradient(red, tomato);
    padding: 5px 20px;
    color: white;
    margin-top: 20px;
    font-weight: 700;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    word-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
}

.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat
}